* { box-sizing: border-box; }

div#ken {
  position: absolute;
  top: 100px;
  left: 100px;
  width: 100px;
  height: 128px;
  background: url('images/sprite_ken.png') no-repeat;
  background-position-x: 0px;
  animation: kenMove 0.5s steps(10) infinite;
}

@keyframes kenMove {
  0% { background-position-x: 0; }
  100% { background-position-x: -1000px; }
}
